body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    margin:0;
    padding:0;
}

.header {
    display:flex;
    justify-content: space-between;
    padding: 10px 0 10px;
}

.header-right-links {
    display:flex;
    gap:8px;
    list-style:none;
    margin:0;
    padding:0;
}

.header-right-links a {
    text-decoration: none;
}

.body {
    display:flex;
    flex:1;
    flex-direction:column;
}

.hero {
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:10px;
    gap:10px;
}

.hero img {
    border: 1px solid white;
}

.information {
    display:flex;
    flex-direction:column;
    /* align-items:center; */
    /* justify-content: center; */
    overflow:hidden;
}

.information h2 {
    align-self: center;
    font-weight:800;
    font-size:36px;
    color:#1F2937;
}

.information .container {
    display:flex;
    gap:40px;
    justify-content:space-between;
}

.information .item {
    display:flex;
    flex-direction:column;
    align-items:center;
    flex:1;
    max-width:150px;
    text-align:center;
}

.information img {
    border-radius:8px;
    border:4px solid blue;
}

.quote {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color:#E5E7EB;
}

.quote .quote-text {
    font-size: 36px;
    font-weight:400;
    font-style:italic;
}

.quote-person {
    align-self:flex-end;
}

.cta {
    display:flex;
    align-items:center;
    justify-content: center;
    background-color:white;
    color:white;
    min-height:100px;
}

.cta-continer {
    display:flex;
    align-items:center;
    padding:25px 100px 25px;
    background-color:#3882F6;
    border-radius: 8px;
    gap:20px;
}

.cta-content {
    display:flex;
    flex-direction:column;
}

.footer {
    display:flex;
    justify-content:center;
    align-items:center;
    padding:10px 0 10px;
    color:darkgray;
}

.header, .hero, .footer {
    background: #1f2937
}
.hero, .information, .quote, .cta {
    flex:1;
    max-height:25vh;
}

.hero h1 {
    font-size:48px;
    font-weight: 800;
    color:#F9FAF8;
}

.hero p, .header .header-right-links a{
    font-size:18px;
    color:#E5E7EB;
}

.header .header-logo-text {
    font-size:24px;
    color:#F9FAF8;
}

button {
    background-color:#3882F6;
    border-radius: 8px;
    border:none;
    text-align:center;
    padding:10px 20px;
    color:white;

}
.cta-button button {
    border: 2px solid white;
}

/* center content on page by adding padding on right and left to all sections*/
.header, .hero,.information, .quote, .cta, .footer {
    padding-left:20vh;
    padding-right:20vh;
}

h3 {
    padding:0;
    margin:0;
}